<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mcm.edu.ph.paguntalan_calculator">

    <application
        android:allowBackup="true"
        android:label="paguntalan_calculator"
        android:roundIcon="@drawable/calcuround"
        android:supportsRtl="true"
        android:theme="@style/Theme.Paguntalan_calculator">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>